/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header Start */

header{
	border: 2px solid lightgrey;
	width: 100%;
}

.inner{
	max-width: 1080px;
	margin: 0 auto;
	padding: 1% 6px ;
}

.nav{
	display: flex;
	justify-content: space-between;
}

.heading{
	font-size: 50px;
	font-weight:500;
}
ul{
	display: flex;
}

ul li{
	margin-left: 40px;
	font-size: large;
	margin-top: 14px;
}


/* Section 1 Start */

.section1{
	background-color: rgb(211, 211, 211);
}

.info{
	display: flex;
	justify-content: space-between;
}

.part1 h1{
	margin-top: 20px;
	font-size: 60px;
	font-weight: 100;
}

.part1 p{
	margin-top: 15px;
	width: 530px;
	height: 300px;
	text-align: justify;
}

.part2 img{
	width: 500px ;
	height: 350px;
	margin: 150px 20px;
}

/* Section 2 Start */

.section2 h1{
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	padding: 20px;
}

.size{
	width: 305px;
	height: 320px;
	padding: 20px;
}

/* footer part */

.link{
	width: 100%;
	text-align: center;
	padding-top: 20px;
	font-weight: 900;
	font-size: 40px;
}


.bottum{
	background-color: lightgrey;
}

